@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
}

.container{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px , 1fr));
    grid-template-rows: auto;
    gap: 0 40px;

}

.container .card{
    position: relative;
    height: 400px;
    background-color: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.container .card .content{
    position: relative;
    padding: 30px;
}

.card .content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    opacity: 0.05;
    transition: 0.5s;
}

.card:hover .content h2 {
    top: -120px;
}

.card .content h3 {
    margin-left: 10px;
    padding: 0;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.card .content p {
    margin: 0;
    padding: 0;
    color: #fff;

}

.card .content a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
}

.card:hover .content a {
    opacity: 1;
    transform: translateY(0px);
}

.card .content a:hover {
    background-color: #fff;
    color: #000;
}

.container .card::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #fff;
    z-index: -1;
    transform: skew(2deg, 2deg);
}

.container .card:nth-child(1)::before {
    background: linear-gradient(315deg, #ff0057 , #e64a19)
}


.container .card:nth-child(2)::before {
    background: linear-gradient(315deg, #00ff15 , #19e6a2)
}


.container .card:nth-child(3)::before {
    background: linear-gradient(315deg, #ffee00 , #6119e6)
}


.container .card:nth-child(4)::before {
    background: linear-gradient(315deg, #0051ff , #19b6e6)
}

.container .card::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: #fff;
    opacity: 0.05;
    pointer-events: none;
}
